.burger {
    display: none;
    @include reset-button;
    @include squere(40px);
    position: relative;
    color: var(--color-white);
    z-index: 2;

    & svg {
        transition-duration: var(--transition-duration)
    }

    @include mobile {
        @include flex-center;
    }

    &.burger--active {

        & svg {
            rotate: 90deg;
        }
    }
}