.button {
    @include reset-button;
    min-width: 140px;
    height: var(--button-height);
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 0 20px;
    @include fluid-text(16, 16);
    font-weight: 500;
    border-radius: var(--border-radius-large);

    color: var(--color-white);
    background: var(--color-black);
    border: 2px solid var(--color-black);

    @include hover {
        color: var(--color-blue);
        background: var(--color-transparent);

    }
}

.icon {
    @include flex-center;
    @include reset-button;
    width: var(--icon-height);
    height: var(--icon-height);
    color: var(--color-white);
}