.game {
    position: relative;

    & h2 {
        @include fluid-text(20, 16);
        font-weight: 800;
    }

    & .button {
        position: absolute;
        top: 8px;
        right: 108px;
    }


}