.header {
    padding: 20px 0;
    background-color: #333;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @include tablet {
            justify-content: space-between;
        }
    }

    &__search {
        margin-left: clamp(6.25rem, -23.75rem + 46.88vw, 18.438rem);
        width: 560px;

        @include tablet {
            margin: 0;
        }

        @include mobile {
            width: 60%;
        }

        @include phone {
            width: 280px;
        }
    }
}