.logo {
    @include flex-center;
    gap: 12px;

    @include hover {
        scale: 1.1;
    }

    & img {
        max-width: 32px;
    }

    & span {
        font-weight: 800;
        text-transform: uppercase;
    }
}