.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
    text-transform: uppercase;

    @include hover {
        scale: 1.1;
    }

    & img {
        max-height: 32px;
    }
}