.navigation {
    padding: 24px 0;

    // @include mobile {
    //     padding: 40px 24px;
    //     position: absolute;
    //     top: -1000%;
    //     left: 0;
    //     z-index: 1;
    //     width: 100%;
    //     height: 100vh;
    //     opacity: 0;
    //     transition: all .3s ease;
    //     background: var(--color-white);

    //     &.navigation--active {
    //         top: 100%;
    //         opacity: 1;
    //     }
    // }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & li {

            &.active {

                &>a {
                    padding-block: 10px;
                    font-weight: 800;
                    font-size: 16px;
                    color: var(--color-accent);
                    text-transform: uppercase;

                    &::before {
                        height: 100%;
                    }
                }
            }

            &.menu-item-has-children {

                &.active {
                    &>a {
                        &::after {
                            rotate: 0deg;
                        }
                    }
                }

                &>a {
                    &::after {
                        content: '';
                        position: absolute;
                        right: 24px;
                        top: 50%;
                        translate: 0 -50%;
                        rotate: 180deg;
                        width: 16px;
                        height: 16px;
                        background: url(/assets/images/icon/chevron.svg) no-repeat center;
                        transition-duration: var(--transition-duration);
                    }
                }

            }

            & a {
                position: relative;
                padding: 0 24px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 14px;
                z-index: 1;

                @include hover {
                    color: var(--color-accent);

                    &::before {
                        height: 100%;
                    }
                }



                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translate(0, -50%);
                    width: 4px;
                    height: 0%;
                    background: var(--color-accent);
                    transition-duration: var(--transition-duration);
                }
            }
        }

        & .sub-menu {
            height: 0;
            opacity: 0;
            overflow: hidden;

            &.active {
                margin-top: 16px;
                height: auto;
                opacity: 1;
                transition-duration: var(--transition-duration);
            }

            & a {
                padding: 8px 24px 8px 56px;

                &.active {
                    color: inherit;

                    &:before {
                        display: none;
                    }

                    &::after {
                        opacity: .15;
                    }
                }

                @include hover {
                    color: inherit;

                    &:before {
                        display: none;
                    }

                    &::after {
                        opacity: .15;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--color-white);
                    opacity: 0;
                    transition-duration: var(--transition-duration);
                    z-index: -1;
                }
            }
        }
    }
}