.search {

    &__form {
        position: relative;
    }

    &__field {
        padding-right: 50px;
        color: var(--color-white);
        background: var(--color-dark);


    }

    &__submit {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translate(0, -50%);
    }
}