.swiper {
    margin-top: 24px;

    &-wrapper {
        gap: 8px 0;

        &.swiper-grid {
            height: 240px;

            @include tablet {
                height: auto;
            }
        }
    }

    &-slide {
        margin-block: 0 !important;
        max-width: 176px;
        height: calc((100% - 8px) / 2) !important;
        border-radius: 8px;
        @include flex-center;

        &:nth-child(6n + 1),
        &:nth-child(6n + 6) {
            min-width: 360px;
            max-width: none;
            height: 100% !important;
        }

        @include tablet {
            max-width: none;
            height: 100% !important;


            &:nth-child(6n + 1),
            &:nth-child(6n + 6) {
                min-width: auto;
                height: auto;
            }
        }

        @include phone {
            max-height: 160px;
        }

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__navigation {
        margin-top: 16px;
        @include flex-center;

        .swiper-pagination {
            position: static;
            width: auto !important;
            display: flex;
            align-items: center;
            gap: 16px;

            &-bullet {
                @include squere(8px);
                margin: 0 !important;
                border-radius: 5px;
                background: var(--color-dark);
                opacity: 1;

                &-active {
                    margin: 0;
                    background-color: var(--color-white);
                }
            }
        }

        &-button {
            position: absolute;
            right: 32px;
            top: 8px;

            display: flex;
            align-items: center;
            gap: 4px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: static;
            margin: 0;
            width: 32px;
            height: 32px;
            border: 1px solid #FFFFFF80;
            border-radius: 8px;

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: url(../images/icon/arrow-right.svg) no-repeat center;
            }
        }

        .swiper-button-prev {
            &::after {
                rotate: 180deg;
            }
        }
    }
}