html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    flex-direction: column;

    color: var(--color-white);
    background: var(--color-black);

    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;

    &.lock {
        max-height: 100vh;
        overflow: hidden;
    }
}

main {
    overflow: hidden;
    flex: 1;
    display: flex;
}

aside {
    width: 280px;
    border-right: 1px solid #D8D8D82A;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    @include reset-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include fluid-text(42, 30);
    font-weight: 400
}

h2 {
    @include fluid-text(30, 24);
    font-weight: 400
}

h3 {
    @include fluid-text(24, 20);
    font-weight: 500
}

h4 {
    @include fluid-text(16, 20);
}

h5 {
    @include fluid-text(14, 14);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}