@import 'normalize', 'fonts', 'veriables', 'mixins', 'media', 'utils', 'globals', 'animations';

@import 'blocks/button',
'blocks/button-burger',
'blocks/form',
'blocks/select',
'blocks/swiper',
'blocks/search',

'blocks/header',
'blocks/logo',
'blocks/navigation',
'blocks/hero',
'blocks/about',
'blocks/game',
'blocks/article',
'blocks/single',
'blocks/aside',



'blocks/footer';




#game-container.theatre-mode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Обеспечивает, что контейнер будет выше других элементов */
}

#game-container.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    & .bottom {
        display: none;
    }
}