@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}
p:last-of-type {
  margin: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
  Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-thin-webfont.woff"), url("../fonts/montserrat-thin-webfont.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extralight-webfont.woff"), url("../fonts/montserrat-extralight-webfont.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light-webfont.woff"), url("../fonts/montserrat-light-webfont.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff"), url("../fonts/montserrat-regular-webfont.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff"), url("../fonts/montserrat-medium-webfont.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold-webfont.woff"), url("../fonts/montserrat-semibold-webfont.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff"), url("../fonts/montserrat-bold-webfont.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extrabold-webfont.woff"), url("../fonts/montserrat-extrabold-webfont.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-black-webfont.woff"), url("../fonts/montserrat-black-webfont.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
:root {
  /*colors*/
  --color-black: #000000;
  --color-dark: #252525;
  --color-gray: #A5A8AE;
  --color-white: #ffffff;
  --color-accent: #6D49FF;
  --color-transparent: transparent;
  --color-shadow: rgba(22, 28, 45, 0.05);
  /*colors*/
  /*border*/
  --border: 2px solid var(--color-black);
  --border-radius: 16px;
  --border-radius-small: 10px;
  --border-radius-large: 30px;
  /*border*/
  /*body*/
  --font-family-base: "Nunito", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 24px;
  --section-padding-y: 80px;
  /*body*/
  /*button*/
  --input-height: 40px;
  --button-height: 48px;
  --icon-height: 20px;
  --transition-duration: 0.3s;
  /*button*/
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: var(--container-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-white);
  background: var(--color-black);
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
body.lock {
  max-height: 100vh;
  overflow: hidden;
}

main {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 280px;
  border-right: 1px solid rgba(216, 216, 216, 0.1647058824);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(30px, 42vw, 42px);
  font-weight: 400;
}

h2 {
  font-size: clamp(24px, 30vw, 30px);
  font-weight: 400;
}

h3 {
  font-size: clamp(20px, 24vw, 24px);
  font-weight: 500;
}

h4 {
  font-size: clamp(20px, 16vw, 16px);
}

h5 {
  font-size: clamp(14px, 14vw, 14px);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 140px;
  height: var(--button-height);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding: 0 20px;
  font-size: clamp(16px, 16vw, 16px);
  font-weight: 500;
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  background: var(--color-black);
  border: 2px solid var(--color-black);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-blue);
    background: var(--color-transparent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-blue);
    background: var(--color-transparent);
  }
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: var(--icon-height);
  height: var(--icon-height);
  color: var(--color-white);
}

.burger {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  z-index: 2;
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: wheat;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger::before {
  top: 13px;
}
.burger::after {
  bottom: 13px;
}
.burger span {
  font-size: 0;
}
.burger.burger--active::before, .burger.burger--active::after {
  width: 90%;
  top: 50%;
  bottom: auto;
  translate: -50% -50%;
}
.burger.burger--active::before {
  rotate: 45deg;
}
.burger.burger--active::after {
  rotate: -45deg;
}

form {
  /* Стилизованный radio button */
  /* При отмеченном radio button изменить цвет и показать "галочку" */
  /* Стилизованный чекбокс */
  /* При отмеченном чекбоксе изменить цвет и показать "галочку" */
}
form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  font-size: clamp(1rem, 0.186rem + 1.69vw, 1.5rem);
  font-weight: 700;
}
form input,
form select {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  outline: none;
  width: 100%;
  height: var(--input-height);
  padding: 10px 24px;
  color: var(--color-black);
  border-radius: 40px;
  border: 1px solid rgba(58, 95, 111, 0.16);
}
form input::-webkit-input-placeholder, form select::-webkit-input-placeholder {
  color: var(--color-white);
  opacity: 0.3;
}
form input::-moz-placeholder, form select::-moz-placeholder {
  color: var(--color-white);
  opacity: 0.3;
}
form input:-ms-input-placeholder, form select:-ms-input-placeholder {
  color: var(--color-white);
  opacity: 0.3;
}
form input::-ms-input-placeholder, form select::-ms-input-placeholder {
  color: var(--color-white);
  opacity: 0.3;
}
form input::placeholder,
form select::placeholder {
  color: var(--color-white);
  opacity: 0.3;
}
@media (max-width: 767px) {
  form input,
  form select {
    height: 56px;
  }
}
form input:focus-visible,
form select:focus-visible {
  border: 1px solid var(--color-gray);
}
form input:-webkit-autofill, form input:-webkit-autofill:hover, form input:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  background-color: var(--color-black); /* Фон */
  color: var(--color-white); /* Цвет текста */
  -webkit-text-fill-color: var(--color-white); /* Цвет текста для автозаполнения */
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; /* Отключение эффекта смены фона */
}
form textarea {
  margin: 0;
  font-size: clamp(16px, 20vw, 20px);
  font-weight: 500;
  outline: none;
  width: 100%;
  min-height: 120px;
  padding: 16px 24px;
  color: var(--color-black);
  border-radius: 24px;
  border: 1px solid rgba(58, 95, 111, 0.16);
  resize: none;
}
form textarea:focus-visible {
  border: 1px solid var(--color-gray);
}
form .custom-radio {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
  /* Скрыть стандартный radio button */
  /* Стиль для видимого элемента radio button */
}
form .custom-radio input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
form .custom-radio .radiomark {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #F9FAFB;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(175, 186, 202);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* Отображение "галочки" внутри radio button */
}
form .custom-radio .radiomark::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url(/assets/images/icon/check.svg) no-repeat center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
form .custom-radio input[type=radio]:checked + .radiomark {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
}
form .custom-radio input[type=radio]:checked + .radiomark::after {
  opacity: 1;
}
form .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  /* Скрыть стандартный чекбокс */
  /* Стиль для видимого элемента чекбокса */
}
form .custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
form .custom-checkbox .checkmark {
  display: inline-block;
  width: 48px;
  height: 28px;
  background-color: var(--color-black);
  border-radius: 14px;
  position: relative;
  cursor: pointer;
  /* Отображение "галочки" внутри чекбокса */
}
form .custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: block;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-white);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
form .custom-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: var(--color-black);
}
form .custom-checkbox input[type=checkbox]:checked + .checkmark::after {
  left: auto;
  right: 2px;
}

.select2 {
  width: 100% !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-black);
}

.select2-container--default .select2-selection--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: clamp(16px, 20vw, 20px);
  font-weight: 500;
  outline: none;
  width: 100%;
  height: 64px;
  padding: 16px 24px;
  color: var(--color-black);
  border-radius: 40px;
  border: 1px solid rgba(58, 95, 111, 0.16);
}
@media (max-width: 767px) {
  .select2-container--default .select2-selection--single {
    height: 56px;
  }
}
.select2-container--default .select2-selection--single:focus-visible {
  border: 1px solid var(--color-black);
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  margin: 0;
  color: var(--color-black);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 16px;
  height: 16px;
  top: 50%;
  right: 24px;
  translate: 0 -50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: static;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: url(../images/icon/ArrowDown2.svg) no-repeat center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  rotate: 180deg;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-color: var(--color-black);
}

.swiper-pagination {
  position: static;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.swiper-pagination-bullet-active {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  aspect-ratio: 1;
  margin: 0 !important;
  border-radius: 5px;
}
.swiper-pagination-bullet-active {
  width: 24px;
  background-color: var(--color-black);
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin: 0;
  width: 48px;
  height: 48px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/icon/nav.svg) no-repeat center;
}

.swiper-button-prev::after {
  rotate: 180deg;
}

.swiper__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.swiper__navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__form {
  position: relative;
}
.search__field {
  width: 560px;
  padding-right: 50px;
  color: var(--color-white);
  background: var(--color-dark);
}
.search__submit {
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header {
  padding: 20px 0;
  background-color: #333;
}
.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  margin-left: clamp(6.25rem, -23.75rem + 46.88vw, 18.438rem);
}
.header__burger {
  margin-left: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (hover: hover) {
  .logo:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .logo:active {
    scale: 1.1;
  }
}
.logo img {
  max-height: 32px;
}

.navigation {
  padding: 24px 0;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.navigation__list li.menu-item-has-children > a::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
  width: 16px;
  height: 16px;
  background: url(/assets/images/icon/chevron.svg) no-repeat center;
}
.navigation__list li a {
  position: relative;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 14px;
  z-index: 1;
}
@media (hover: hover) {
  .navigation__list li a:hover {
    color: var(--color-accent);
  }
  .navigation__list li a:hover::before {
    height: 100%;
  }
}
@media (hover: none) {
  .navigation__list li a:active {
    color: var(--color-accent);
  }
  .navigation__list li a:active::before {
    height: 100%;
  }
}
.navigation__list li a.active {
  padding-block: 10px;
  font-weight: 800;
  font-size: 16px;
  color: var(--color-accent);
  text-transform: uppercase;
}
.navigation__list li a.active::before {
  height: 100%;
}
.navigation__list li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 4px;
  height: 0%;
  background: var(--color-accent);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.navigation__list .sub-menu {
  margin-top: 16px;
}
.navigation__list .sub-menu a {
  padding: 8px 24px 8px 56px;
}
.navigation__list .sub-menu a.active {
  color: inherit;
}
.navigation__list .sub-menu a.active:before {
  display: none;
}
.navigation__list .sub-menu a.active::after {
  opacity: 0.15;
}
@media (hover: hover) {
  .navigation__list .sub-menu a:hover {
    color: inherit;
  }
  .navigation__list .sub-menu a:hover:before {
    display: none;
  }
  .navigation__list .sub-menu a:hover::after {
    opacity: 0.15;
  }
}
@media (hover: none) {
  .navigation__list .sub-menu a:active {
    color: inherit;
  }
  .navigation__list .sub-menu a:active:before {
    display: none;
  }
  .navigation__list .sub-menu a:active::after {
    opacity: 0.15;
  }
}
.navigation__list .sub-menu a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-white);
  opacity: 0;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  z-index: -1;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */